.button {
    font-weight: bold;
    font-size: 130%;
    font-family: "Segoe UI";
    color: #404060;
    background-color: #e9f2fa;
    padding: 10px 15px;
    border-radius: 8px;

    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}
.button:hover {
    transform: scale(105%);
}
.button:active {
    transform: scale(102%);
}

.img {
    width: 150px;
}