.homePage {
    margin: 0;
    padding: 0;
    background: #ffffff;
    color: #000000;
    font-size: 125%;
}

.buttons {
    margin-top: calc(50vh - 150px - 72px + 20px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 165px;
}

.activateButton {
    position: fixed;
    top: 20px;
    right: 145px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.running {
    background-color: #ff4d4d; /* Красный цвет для остановки */
}

.running:hover {
    background-color: #ff1a1a; /* Темнее при наведении */
}

.stopped {
    background-color: #4caf50; /* Зеленый цвет для запуска */
}

.stopped:hover {
    background-color: #45a049; /* Темнее при наведении */
}