.infoBox {
    position: fixed;
    top: 20%;
    right: 20px;
    padding: 20px;
    border: 1px solid #aaa;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.closeButton {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #0070f3;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.closeButton:hover {
    background-color: #005bb5;
}